@import url('https://fonts.googleapis.com/css?family=Amatic+SC|Comfortaa|Montserrat');

body {
	width: 550px;
	margin: auto;
	background: #FFCAAF;
}


h1 {
	border-bottom: 1px solid black;
	font-family: 'Montserrat', sans-serif;
}

#message {
	font-size: 13pt;
	font-family: 'Montserrat', sans-serif;
}

#startover {
	font-family: 'Montserrat', sans-serif;
	text-decoration:none;
	color: black;
}

.Square{
			height: 80px;
			width: 80px;
			font-size: 45pt;
			text-align: center;
			font-family: 'Comfortaa', cursive;

		}